/* === Typography ===*/

header {
    text-align: center;
}

#nav a {
    font-family: 'Corben';
    font-size: 18pt;
    line-height: 18pt;
    color: #f29863;
    text-decoration: none;
}

h1 {
    font-family: 'Corben', bold;
    font-size: 72pt;
    line-height: 18pt;
    color: #000000;
}

main h2 {
    font-family: 'Montserrat', sans-serif;
    font-size:14pt;
    line-height: 18pt;
    font-weight: 600;
    color: #413a37;
    text-align: center;
}

main p {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    line-height: 14pt;
    color: #ffffff;
    text-align: center;
}

#Contact p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    line-height: 3pt;
    color: #ffffff;
    text-align: left;
}

#Contact h3 {
    font-family: 'Corben';
    font-size: 12pt;
    line-height: 5pt;
    color: #07f2f2;
    text-align: left;
}

#Hours p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    line-height: 3pt;
    color: #ffffff;
    text-align: left;
}

#Hours h3 {
    font-family: 'Corben';
    font-size: 12pt;
    line-height: 5pt;
    color: #07f2f2;
    text-align: left;
}
/* === Backgrounds === */

body {
    background: #413a37;
}

#post1, #post2, #post3 {
    background: #9fa66a;
}

/* === Box model === */

#Menu1, #Menu2{
    height: auto;
    width: auto;
   margin: 20px;
    
}

#Menus{
    grid-column: 1/4;
    display: flex;
    justify-content: space-around;
}

.SplashImg {
    height: 400px;
    padding-top: 175px;
    margin-bottom: 50px;
}

footer {
    padding-top: 50px;
}

header {
    padding: 1.07rem;
}

nav a {
    display: inline;
    margin-right: 50px;
    margin-left: 50px;
}

#nav {
    padding-bottom: 75px;
    margin-bottom: 15px;
}

.portraitpic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding-left: 25px;
}

.postimg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    padding-left: auto;
}

/* === Layout === */

#nav a {
    padding-left: 50px;
    padding-right: 50px;
}

#container {
    width: 1000px;
    margin: auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


#logo {
    padding: 30px;
    width: 100px;
}

.logo {
    height: 100px;
    align-items: center;
    justify-content: center;
}

#splash {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Hours {
    padding-left: 150px;
}

#Contact {
    padding-left: 20px;
}

/* = Grid =*/
header,
footer {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
}

#splash {
    grid-column-start: 1;
    grid-column-end: 4;
}

.logo {
    grid-column-start: 2;
    grid-column-end: 3;
}

#SocialMedia {
    grid-column-start: 2;
    grid-column-end: 3;
}